{% extends mode is defined and mode == 'user' ? "user.twig" : "admin.twig" %}
{% import '@Marketplace/macros.twig' as pluginsMacro %}

{% set title %}{{ 'Marketplace_Marketplace'|translate }}{% endset %}

{% block content %}

    {% if distributor and distributor.getName %}
        {% set distributorLink = '<a rel="noreferrer" target="_blank" href="' ~ distributor.getHomepage|piwikProCampaignParameters('Marketplace', 'Marketplace', 'Client')|e('html_attr') ~ '">'~ distributor.getName ~ '</a>' %}
    {% else %}
        {% set distributorLink = '' %}
    {% endif %}
    
    <div class="marketplace">

        <h2 piwik-enriched-headline feature-name="{{ 'Marketplace_Marketplace'|translate }}">
            {{ title }}
        </h2>

        <ul class="nav nav-pills">
            {% set freePluginsLink %}
                {% if freePlugins|length %}
                    <li {% if showPlugins and showFree %}class="active"{% endif %}>
                        <a href="{{ linkTo({'show': 'plugins', 'type': 'free'}) }}">{{ 'Marketplace_FreePlugins'|translate }}</a>
                    </li>
                {% endif %}
            {% endset %}

            {% set paidPluginsLink %}
                {% if paidPlugins|length %}
                    <li {% if showPlugins and showPaid %}class="active"{% endif %}>
                        <a href="{{ linkTo({'show': 'plugins', 'type': 'paid'}) }}">{{ 'Marketplace_PaidPlugins'|translate }}</a>
                    </li>
                {% endif %}
            {% endset %}

            {% set freeThemesLink %}
                {% if themes|length %}
                    <li {% if showThemes %}class="active"{% endif %}>
                        <a href="{{ linkTo({'show': 'themes', 'type': 'free'}) }}">{{ 'Marketplace_FreeThemes'|translate }}</a>
                    </li>
                {% endif %}
            {% endset %}

            {% if hasAccessToPaidPlugins %}
                {{ paidPluginsLink }}
                {{ freePluginsLink }}
                {{ freeThemesLink }}
            {% else %}
                {{ freePluginsLink }}
                {{ paidPluginsLink }}
                {{ freeThemesLink }}
            {% endif %}
        </ul>

        {% if showPaid %}
            {% include '@Marketplace/_overview_header_paid.twig' %}
        {% else %}
            {% include '@Marketplace/_overview_header_free.twig' %}
        {% endif %}

        <hr/>

        {% include '@Marketplace/plugin-list.twig' %}

        <div class="footer-message">
            {{ 'CorePluginsAdmin_DevelopersLearnHowToDevelopPlugins'|translate('<a href="?module=Proxy&action=redirect&url=http://developer.piwik.org/plugins" target="_blank">', '</a>')|raw }}
        </div>

    </div>

{% endblock %}
